@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;
    --primary: 225 85% 49%;
    --primary-foreground: 213 94% 97%;
    --secondary: 220 4% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 359 75% 50%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 63%;
    --radius: 0.625rem;
    --chart-1: 211 100% 78%;
    --chart-2: 216 100% 58%;
    --chart-3: 221 97% 53%;
    --chart-4: 225 85% 49%;
    --chart-5: 227 76% 41%;
  }

  .dark:root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 227 76% 41%;
    --primary-foreground: 213 94% 97%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 100% 70%;
    --border: 0 0% 22%;
    --input: 0 0% 18%;
    --ring: 0 0% 45%;
    --chart-1: 211 100% 78%;
    --chart-2: 216 100% 58%;
    --chart-3: 221 97% 53%;
    --chart-4: 225 85% 49%;
    --chart-5: 227 76% 41%;
  }
}
